.main-header, .main-sidebar, .brand-link {
    background: #001f3f !important;
}

.main-header .nav-link {
    color: #ffffff !important;
}

body {
    overflow-x: hidden;
}

.sidebar {
    margin-top: 0 !important;
    overflow-x: hidden !important;

}

.user-panel {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    margin-top: 0 !important;
}
