.main-header, .main-sidebar, .brand-link {
    background: #001f3f !important;
}

.main-header .nav-link {
    color: #ffffff !important;
}

body {
    overflow-x: hidden;
}

.sidebar {
    margin-top: 0 !important;
    overflow-x: hidden !important;

}

.user-panel {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    margin-top: 0 !important;
}

.small-box {
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.bg-success {
    background: linear-gradient(to right, #28a745, #71d28a);
}

.bg-warning {
    background: linear-gradient(to right, #ffc107, #ffe380);
    color: #333;
}

.bg-info {
    background: linear-gradient(to right, #17a2b8, #74d4e0);
}

.bg-danger {
    background: linear-gradient(to right, #dc3545, #f18a97);
}

.count {
    font-weight: bold;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.card-body {
    padding: .8rem !important;
}
