SECRET_KEY=
SALT_KEY='<first_salt>,<second_salt>'

DB_PORT=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

CANCEL_RESTRICT_BEGIN='19:30'
CANCEL_RESTRICT_END='7:00'