# Ignore environment files
.env

# Ignore IDE files
.idea/
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
.venv/
venv/

# Ignore specific directories
faces/

