{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}
{% block extrajs %}
    {#    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>#}
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard3.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const counters = document.querySelectorAll('.count');
            const speed = 30; // smaller = faster

            counters.forEach(counter => {
                const updateCount = () => {
                    const target = +counter.getAttribute('data-target');
                    const current = +counter.innerText;
                    const increment = Math.ceil(target / speed);

                    if (current < target) {
                        counter.innerText = current + increment;
                        setTimeout(updateCount, 20);
                    } else {
                        counter.innerText = target;
                    }
                };

                updateCount();
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var mode = 'index'
            var ticksStyle = {
                fontColor: '#495057',
                fontStyle: 'bold'
            }
            var intersect = true
            var $visitorsChart = $('#orders-weekly-chart')
            new Chart($visitorsChart, {
                data: {
                    labels: [{% for label in orders_weekly_chart.labels %} '{{ label }}', {% endfor %}],
                    datasets: [{
                        type: 'line',
                        data: [
                            {% for orders_count in orders_weekly_chart.this_week %} {{ orders_count }}, {% endfor %}],
                        backgroundColor: 'transparent',
                        borderColor: '#28a745',
                        pointBorderColor: '#28a745',
                        pointBackgroundColor: '#28a745',
                        fill: false
                        // pointHoverBackgroundColor: '#007bff',
                        // pointHoverBorderColor    : '#007bff'
                    },
                        {
                            type: 'line',
                            data: [
                                {% for orders_count in orders_weekly_chart.last_week %} {{ orders_count }}, {% endfor %}],
                            backgroundColor: 'tansparent',
                            borderColor: '#ced4da',
                            pointBorderColor: '#ced4da',
                            pointBackgroundColor: '#ced4da',
                            fill: false
                            // pointHoverBackgroundColor: '#ced4da',
                            // pointHoverBorderColor    : '#ced4da'
                        }]
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        mode: mode,
                        intersect: intersect
                    },
                    hover: {
                        mode: mode,
                        intersect: intersect
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            // display: false,
                            gridLines: {
                                display: true,
                                lineWidth: '4px',
                                color: 'rgba(0, 0, 0, .2)',
                                zeroLineColor: 'transparent'
                            },
                            ticks: $.extend({
                                beginAtZero: false,
                            }, ticksStyle)
                        }],
                        xAxes: [{
                            display: true,
                            gridLines: {
                                display: false
                            },
                            ticks: ticksStyle
                        }]
                    }
                }
            })
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var ticksStyle = {
                fontColor: '#495057',
                fontStyle: 'bold'
            }

            var mode = 'index'
            var intersect = true
            var $salesChart = $('#orders-over-year')
            new Chart($salesChart, {
                type: 'bar',
                data: {
                    labels: [{% for label in orders_yearly_chart.labels %}'{{ label }}',{% endfor %}],
                    datasets: [
                        {
                            backgroundColor: '#469751',
                            borderColor: '#469751',
                            data: [{% for month in orders_yearly_chart.yearly_orders %}{{ month }}, {% endfor %}],
                            barPercentage: 0.6,
                        }
                    ]
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        mode: mode,
                        intersect: intersect
                    },
                    hover: {
                        mode: mode,
                        intersect: intersect
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            // display: false,
                            gridLines: {
                                display: true,
                                lineWidth: '4px',
                                color: 'rgba(0, 0, 0, .2)',
                                zeroLineColor: 'transparent'
                            },
                            ticks: $.extend({
                                beginAtZero: true,
                            }, ticksStyle)
                        }],
                        xAxes: [{
                            display: true,
                            gridLines: {
                                display: false
                            },
                            ticks: ticksStyle
                        }]
                    }
                }
            })
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieData = {
                labels: [
                    '{% trans 'Small' %}',
                    '{% trans 'Middle' %}',
                    '{% trans 'Big' %}',
                ],
                datasets: [
                    {
                        data: [{% for food_size in orders_food_size_consume %}{{ food_size }}, {% endfor %}
                        ],
                        backgroundColor: ['#51ca5d', '#50ac5d', '#40a506'],
                    }
                ]
            };
            var pieOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            new Chart(pieChartCanvas, {
                type: 'pie',
                data: pieData,
                options: pieOptions
            })
        });
    </script>
{% endblock %}

{% block page_content %}
    <div class="soon"></div>
    <div class="row pt-3 pl-3 pr-3">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3 class="count" data-target="{{ employee_count }}">0</h3>

                    <p>{% trans "Employees" %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-tie"></i>
                </div>
                <a href="{% url 'admin:employees_employee_changelist' %}" class="small-box-footer">More info <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">

            <div class="small-box bg-warning">
                <div class="inner">
                    <h3 class="count" data-target="{{ entrance_count }}">0</h3>

                    <p>{% trans 'Entrance' %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-door-closed"></i>
                </div>
                <a href="{% url 'admin:devices_event_changelist' %}" class="small-box-footer">More info <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3 class="count" data-target="{{ daily_orders }}">0</h3>

                    <p>{% trans 'Daily Orders' %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-utensils"></i>
                </div>
                <a href="{% url 'admin:orders_order_changelist' %}" class="small-box-footer">{% trans 'More info' %} <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3 class="count" data-target="{{ daily_cancelled_orders }}">0</h3>
                    <p>{% trans 'Cancelled Orders' %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-ban"></i>
                </div>
                <a href="{% url 'admin:orders_order_changelist' %}" class="small-box-footer">{% trans 'More info' %} <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row pl-3 pr-3">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="text-bold text-lg">{{ orders_weekly_chart.sum }}</span>
                                    <span>{% trans 'Orders Over Week' %}</span>
                                </p>
                                <p class="ml-auto d-flex flex-column text-right">
                                    {% if orders_weekly_chart.difference < 0 %}
                                        <span class="text-danger">
                                    <i class="fas fa-arrow-down"></i> {{ orders_weekly_chart.difference }}%
                                </span>
                                    {% else %}
                                        <span class="text-success">
                                    <i class="fas fa-arrow-up"></i> {{ orders_weekly_chart.difference }}%
                                </span>
                                    {% endif %}
                                    <span class="text-muted">{% trans 'Since last week' %}</span>
                                </p>
                            </div>
                            <div class="position-relative">
                                <canvas id="orders-weekly-chart"
                                        style="display: block; width: 737px; height: 225px;"
                                        class="chartjs-render-monitor"></canvas>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-success"></i> {% trans 'This Week' %}
                  </span>

                                <span>
                    <i class="fas fa-square text-gray"></i> {% trans 'Last Week' %}
                  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="text-bold text-lg">{{ orders_yearly_chart.sum }}</span>
                                    <span>{% trans 'Orders over year' %}</span>
                                </p>
                                <p class="ml-auto d-flex flex-column text-right">
                                    {% if orders_yearly_chart.difference < 0 %}
                                        <span class="text-danger">
                                    <i class="fas fa-arrow-down"></i> {{ orders_yearly_chart.difference }}%
                                </span>
                                    {% else %}
                                        <span class="text-success">
                                    <i class="fas fa-arrow-up"></i> {{ orders_yearly_chart.difference }}%
                                </span>
                                    {% endif %}
                                    <span class="text-muted">Since last month</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->

                            <div class="position-relative">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <canvas id="orders-over-year" height="200" width="737"
                                        style="display: block; width: 737px; height: 200px;"
                                        class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="pieChart"
                                    style="min-height: 246px; max-height: 246px; max-width: 100%; display: block; width: 765px;"
                                    width="765" height="250" class="chartjs-render-monitor"></canvas>
                            <p class="text-center mb-0">{% trans 'Monthly food size consume' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="content-related">
                <div class="module" id="recent-actions-module">
                    <h4 class="mb-3">{% trans 'Recent actions' %}</h4>
                    {% load log %}
                    {% get_admin_log 6 as admin_log for_user user %}
                    {% if not admin_log %}
                        <p>{% trans 'None available' %}</p>
                    {% else %}
                        <div class="timeline">
                            {% for entry in admin_log %}
                                <div>
                                    {% if entry.is_change %}
                                        <i class="fas fa-edit bg-gray text-xs"></i>
                                    {% elif entry.is_deletion %}
                                        <i class="fas fa-trash bg-danger text-xs"></i>
                                    {% elif entry.is_addition %}
                                        <i class="fas fa-plus-circle bg-success text-xs"></i>
                                    {% endif %}

                                    <div class="timeline-item">
                                                <span class="time"><i
                                                        class="fas fa-clock"></i>
                                                    {% blocktrans with timesince=entry.action_time|timesince %}
                                                        {{ timesince }} ago{% endblocktrans %}</span>
                                        <h3 class="timeline-header no-border">
                                            {% if entry.is_deletion or not entry.get_admin_url %}
                                                {{ entry.object_repr }}
                                            {% else %}
                                                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                            {% endif %}

                                            {% if entry.model %}
                                                <span class="mini quiet">
                                                        {% filter capfirst %}
                                                            {{ entry.model }}
                                                        {% endfilter %}
                                                    </span>
                                            {% endif %}
                                        </h3>
                                        {% if not entry.is_deletion %}
                                            <div class="timeline-body">
                                                {% if entry.is_addition %}
                                                    {{ entry }}
                                                {% else %}
                                                    <ul style="list-style: none; padding: 0;">
                                                        {% action_message_to_list entry as action_message_list %}
                                                        {% for action_message in action_message_list %}
                                                            <li>{{ action_message.msg|style_bold_first_word }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div>
                                <i class="fa fa-clock bg-gray"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
