{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list jazzmin %}
{% block result_list %}
    <div class="change-list-actions row pb-3">
        <div class="col-12">
            {% if action_form and actions_on_top and cl.show_admin_actions %}
                {% admin_actions %}
            {% endif %}
        </div>
    </div>
    <div id="result_list">
        {% result_list cl %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const refreshInterval = 5000; // Har 5 soniyada yangilash
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            async function fetchOrders() {
                try {
                    const response = await fetch(window.location.href, {
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': csrftoken
                        }
                    });
                    if (!response.ok) {
                        console.error("Failed to fetch orders:", response.statusText);
                        return;
                    }

                    // Javobni olish va yangilanishni amalga oshirish
                    const resultListHtml = await response.text();
                    const currentResultList = document.querySelector('#result_list');
                    if (currentResultList) {
                        const parser = new DOMParser();
                        const doc = parser.parseFromString(resultListHtml, 'text/html');
                        const newResultList = doc.querySelector('#result_list');
                        if (newResultList) {
                            currentResultList.innerHTML = newResultList.innerHTML;
                        }
                    }
                } catch (error) {
                    console.error("Error fetching orders:", error);
                }
            }

            // Har 5 soniyada yangilash
            setInterval(fetchOrders, refreshInterval);
        });

    </script>
{% endblock %}
